<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid">
  <div class = "text-center"><h2>[[${pageTitle}]]</h2></div>

  <form th:action = "@{/recipes/save}" method = "post" th:object = "${recipe}"
    style = "max-width: 500px; margin: 0 auto;">
    <input type = "hidden" th:field = "*{recipeId}">
    <div class = "border border-secondary rounded p-3">
      <div class = "form-group row">
        <label class = "col-sm-4 col-form-label">Recipe Name:</label>
        <div class = "col-sm-8">
          <label>
            <input type = "text" required minlength = "5" maxlength = "50" th:field = "*{recipeName}"/>
          </label>
        </div>
      </div>
      <div class = "form-group row">
        <label class = "col-sm-4 col-form-label">Ingredients:</label>
        <div class = "col-sm-8">
          <textarea type = "text" rows = "5" cols = "33" required minlength = "5" maxlength = "500" th:field = "*{ingredientsList}"></textarea>
        </div>
      </div>
      <div class = "form-group row">
        <label class = "col-sm-4 col-form-label">Instructions:</label>
        <div class = "col-sm-8">
          <textarea type = "text" rows = "10" cols = "33" required minlength = "5" maxlength = "1000" th:field = "*{instructions}"></textarea>
        </div>
      </div>
      <div class = "text-center">
        <button type = "submit" class = "btn btn-primary m-2">Save</button>
        <button type = "button" class = "btn btn-secondary m-2" onclick = "cancelForm()">Cancel</button>
      </div>

    </div>


  </form>

</div>
<script type = "text/javascript">
  function cancelForm() {
    window.location = "[[@{/recipes}]]";
  }

</script>
</body>
</html>